$appMount: appMount-3VJmYg;
$popouts: popouts-3dRSmE;
$popout: popout-3sVMXz;
$popoutBottom: popoutBottom-1YbShG;
$popoutNoShadow: noShadow-321ZPm;
$popoutMenu: menu-Sp6bN1;
$popoutMenuAlt: alt-3btY0e;
$serverSettingsMenuItem: item-1GzJrl;
$serverSettingsMenuItemInvite: invite-271nFU;
$serverSettingsMenuItemLeave: leave-1DRJfn;
$serverSettingsMenuIcon: icon-2doZ3q;
$serverSettingsMenuLabel: label-1Y-LW5;
$serverSettingsMenuIconText: statusIconText-3b4TkH;
$serverSettingsMenuHelper: helper-2c73HK;
$serverSettingsMenuSeparator: separator-2zcjq8;

$bgAlpha01: rgba(#000, 0.1);
$bgAlpha03: rgba(#000, 0.3);
$bgAlpha04: rgba(#000, 0.4);

