$appMount: appMount-3VJmYg;

$status: status-oxiHuE;

$popouts: popouts-3dRSmE;
$popout: popout-3sVMXz;
$popoutTopLeft: popoutTopLeft-b5Eb3O;
$popoutMenu: menu-Sp6bN1;
$popoutAlt: alt-3btY0e;
$statusPickerItem: item-1GzJrl;
$statusPickerIcon: icon-2doZ3q;
$statusPickerLabel: label-1Y-LW5;
$statusPickerIconText: statusIconText-3b4TkH;
$statusPickerHelper: helper-2c73HK;
$statusPickerSeparator: separator-2zcjq8;

$bgAlpha01: rgba(#000, 0.1);
$bgAlpha03: rgba(#000, 0.3);
$bgAlpha04: rgba(#000, 0.4);

