
.#{$popout}.#{$popoutTopLeft}{
    &[style*="left: 80px;"]{
        width: 100vw!important;
        height: 100vh!important;
        box-shadow: none!important;
        position: absolute;
        top: initial!important;
        right: initial!important;
        bottom: initial!important;
        left: initial!important;
        transform: none!important;
        overflow: visible!important;
        z-index: 10001!important;


        &:before{
            content: "";
            width: inherit;
            height: inherit;
            background-image: -webkit-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 1) 100%);
            position: absolute;
            top: 14px; // why??
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}


.#{$popoutMenu}.#{$popoutAlt}{
    width: 560px;
    height: 180px;
    box-shadow: none;
    background: none!important;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    transform: translate(-50%, -50%);

    .#{$status},
    .#{$statusPickerSeparator}{
        display: none;
    }

    .#{$statusPickerItem}{
        width: 80px;
        height: 80px;
        padding: 0;
        background-color: transparent!important;
        box-shadow: none;
        border-radius: 50%;
        position: relative;
        transition: opacity 200ms;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        animation: statusChanger normal 500ms both 1 running;
        overflow: visible;
        pointer-events: auto;
    
        &:hover{
            opacity: 1;

            &:before,
            &:after{
                transform: scale(1.1) translateZ(0px);
            }

            .#{$statusPickerIconText}{
                opacity: 1;
                display: block;
                animation: fadeFromTop-tooltip 500ms forwards;
            }

            .#{$statusPickerHelper}{
                opacity: 1;
                animation: fadeFromBottom-tooltip 500ms;
            }
        }

        &:active{
            &:before,
            &:after{
                transform: scale(1) translateZ(0px);
            }
        }
    
        &:before,
        &:after{
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            transition: filter 200ms, opacity 200ms, transform 200ms;
            pointer-events: none;
        }
    
        &:before{
            background-position: center;
            background-repeat: no-repeat;
            background-size: 60%;
            box-shadow: 0 2px 10px $bgAlpha04;
            opacity: 0.8;
            z-index: 1;
        }
    
        &:after{
            background-color: var(--sPickerItemBGColour);
            opacity: 0.8;
            z-index: -2;
        }
    
        &:first-child{margin: 0 15px 0 0;}
        &:not(:first-child):not(:last-child){margin: 0 15px;}
        &:nth-child(5){margin: 0 0 0 15px;}
    
        &:nth-child(1){
            --sPickerItemBGColour: var(--sPickerOnlineBGColour);
            order: 1;
            animation-delay: 100ms;
    
            &:before{background-image: var(--sPickerOnlineBGIcon);}
        }
    
        &:nth-child(3){
            --sPickerItemBGColour: var(--sPickerIdleBGColour);
            order: 2;
            animation-delay: 200ms;
    
            &:before{background-image: var(--sPickerIdleBGIcon);}
        }
    
        &:nth-child(4){
            --sPickerItemBGColour: var(--sPickerDNDBGColour);
            order: 3;
            animation-delay: 300ms;
    
            &:before{background-image: var(--sPickerDNDBGIcon);}

            .#{$statusPickerIconText}{
                top: -60px;
            }

            .#{$statusPickerHelper}{
                left: -105px;
            }
        }
    
        &:nth-child(5){
            --sPickerItemBGColour: var(--sPickerInviBGColour);
            order: 5;
            animation-delay: 500ms;
            
            &:before{background-image: var(--sPickerInviBGIcon);}
    
            .#{$statusPickerHelper}{
                left: -215px;
            }
        }        
    }
    
    .#{$statusPickerIconText}{
        width: auto;
        height: auto;
        color: #fff!important;
        font-size: 14px;
        font-weight: 800;
        text-align: center;
        text-overflow: ellipsis;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px $bgAlpha03;
        background-color: var(--sPickerItemBGColour);
        border-radius: 3px;
        padding: 3px;
        margin: 0!important;
        white-space: nowrap;
        position: absolute;
        top: -45px;
        display: none;
        opacity: 0;
        transition: opacity 200ms;
        overflow: visible!important;
        box-sizing: border-box;
        pointer-events: none;
        z-index: 2;
    
        &:before{
            content: "";
            width: 10px;
            height: 6px;
            background-color: inherit;
            position: absolute;
            left: 50%;
            bottom: -6px;
            -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
            transform: translate(-50%, 0);
            pointer-events: none;
        }
    
        > div:not(.#{$status}){
            width: 100%;
            height: 100%;
            padding: 2px 7px;
            white-space: normal;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: inherit;
        }
    }
    
    .#{$statusPickerHelper}{
        width: auto;
        max-width: 180px;
        height: auto;
        color: #fff!important;
        font-weight: 600;
        text-shadow: 1px 1px 1px $bgAlpha03;
        text-align: center;
        background-color: transparent;
        border-radius: 3px;
        box-shadow: 0 2px 2px $bgAlpha03;
        padding: 5px 3px;
        margin: 0!important;
        position: absolute;
        top: calc(100% + 30px);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 200ms;
        box-sizing: border-box;
        pointer-events: none;
        
        &:before{
            content: "";
            width: 100%;
            height: 100%;
            background-color: var(--sPickerItemBGColour);
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.8;
            z-index: -1;
        }
    
        &:empty{display: none;}
    }
    
}